#stylo {
	width: 100px;
	height: 20px;
	background-color: hotpink;
	clip-path: polygon(0 100%, 20% 0, 80% 0, 100% 100%);
}


article h4 {
	cursor: pointer;
	margin-bottom: 9px;
}

article {
	padding: 9px 18px;
}

:host {
	padding: 15px 30px;
	font-family: Cambria;
}

