nav {
	margin-bottom: 0px;
	background-color: white;
	padding-left: 10px;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 25px;
	padding-left: 30px;
	font-size: 22px;
	background-color: rgb(186, 80, 205);

	clip-path: polygon(0% 100%, 15% 0%, 85% 0%, 100% 100%);
	border:2px solid blue;
	width: 100px;
	color: lavenderblush;
}

nav a:active {
	background-color: firebrick;
}

main {
	width: 90%;
	margin: auto;
}

router-outlet + * {
	width: 100%;
}

.flex-parent {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.flex-parent > * {
	border: 3px solid black;
}

.flex-parent > div:first-child {
	width: 40%;
	background-color: rgb(81,210,51)
}

header h1 {
	color: lemonchiffon;
	font-size: 40px;
}

header {
	text-align: center;
	background-color: yellowgreen;
	margin-bottom: 40px;
	padding: 35px 0px;
}

