<form action="#" (ngSubmit)="onSubmit()" #form>


	<label for="chosenBase">Base</label>
	<select [formControl]="chosenBase" id="chosenBase">
		<option *ngFor="let b of bases" >{{b}}</option>
	</select>

	<br>

	<ng-template ngFor let-bi let-i="index" [ngForOf]="bodyIngredients">
		<input type="checkbox" [id]="bi" [value]="bi" [formControl]="chosenBodyIngredients.at(i)">
		<label [for]="bi" class="checkboxLabel">{{bi}}</label>
		<br>
	</ng-template>

	<br>

	<label for="chosenCheese">Cheese</label>
	<select [formControl]="chosenCheese" id="chosenCheese">
		<option *ngFor="let c of cheeses" >{{c}}</option>
	</select>

	<br>

	<label for="chosenSeasoning">Seasoning</label>
	<select [formControl]="chosenSeasoning" id="chosenSeasoning">
		<option *ngFor="let s of seasonings" >{{s}}</option>
	</select>

	<br>
	<button type="submit">Make salad !!</button>

</form>