:host {
	display :inline-block;
	background-color: rgb(67,156,45);
	padding: 15px 30px;
	width: 40%;
}

.ng-touched {
	border-bottom: 3px solid rgb(98,24,89);
}

h3 {
	font-family: "Liberation Sans";
	font-size: xx-large;
	margin-bottom: 30px;
}

input, textarea {
	margin-bottom: 12px;
	padding:10px 18px;
	border-radius: 5px;
	width:40%;
}

article {
	margin-top: 20px;
}

article p {
	background-color: rgb(129, 216, 103);
	padding: 20px;
	border-radius: 15px;
	font-family: "OCR A";
	margin-bottom: 12px;
	display: inline-block;
}

