

<h3>Write a Review</h3>

<form action="#" (ngSubmit)="onCommentSubmit()">


	<input type="text" [formControl]="name" placeholder="Name" required><br>


	<input type="email" [formControl]="email" placeholder="Email" required><br>

	<textarea [formControl]="comment" placeholder="Type your comment here" required>

	</textarea><br>

	<button type="submit">Send</button>


</form>

<article class="reviews">
	<ng-template ngFor let-r [ngForOf]="reviews" >
		<p>{{r.comment}} - {{r.author}}</p>
		<br> 
	</ng-template>
</article>